@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myfont;
  src: url("../public/Font/AvertaDemoPECuttedDemo-Regular.otf");
}

.body {
  font-family: myfont;
}

.active {
  color: #1d4ed8;
}

::-webkit-scrollbar {
  display: none;
}

#home {
  background-image: url("../public/Images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.marqueegroup {
  animation: marqueeAnimation 10s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
