@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myfont;
  src: url("../public/Font/AvertaDemoPECuttedDemo-Regular.otf");
}

.body {
  font-family: myfont;
}

.active {
  color: #1d4ed8;
}

::-webkit-scrollbar {
  display: none;
}
